<!DOCTYPE html>
<html>
  <head>
    <title>Already Authenticated</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{{{base '/css/site.css'}}}">
  </head>

  <body>
    <main class="main" id="main">
      <h1 class="notice">
        You are already logged in, however you may <a href="{{{base '/logout'}}}">log out</a> at any time.
      </h1>
    </main>
  </body>
</html>
