[Unit]
Description=Web-based LDAP authentication using NGINX auth_request.
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/home/nginx-auth/nginx-auth
ExecStart=/home/nginx-auth/nginx-auth/bin/server
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nginx-auth
User=nginx-auth
Group=nginx-auth
Environment=NODE_ENV=production PORT=3000

[Install]
WantedBy=multi-user.target